* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.header {
    width: 100%;
    height: 100px;
    padding: 45px 20px 25px 20px;
    display: flex;
    border-bottom: 1px solid #707070;
    font-size:20px;
}

.logo a {
    margin: 0px 81px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 21px;
}

.navigation {
    list-style: none;
    display: flex;
}


.navigation_li {
    margin: 0px 56px;
}

.navigation_links {
    text-decoration: none;
    color: gray;
    font-weight: 300;
}

.navigation_links.nav_loc{
    color: black;
    font-weight: bold;
}

.underline::after {
     content: '';
     display: inherit;
     width: 100px;
     margin: 2vw auto;
     border-top: 1px solid #178A1F;
 }

#menu_bar {
    width: 20px;
    display: none;
}

.container{
    width: 80%;
    margin: auto;
}
.btn {
    border: none;
    width: 246px;
    height: 66px;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    border: 2px solid #178A1F;
    background-color: #178A1F;
    color: white;
    cursor: pointer;
}

.btn.btn_2{
    background:none;
}


.footer{
    background-color: #F7F7F7;
    color: black;
    text-align: center;
}

.footer_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}
.footer_left li{
    padding: 20px 0;
    text-decoration: none;
    list-style:none ;
}
.footer_right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_right div{
    width: 182px;
    display: flex;
    justify-content: space-between;
}

.inputs{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .inputs>div:first-child{
    width: 60%;
  }
  
  .inputs_inp{
    width: 100%;
    padding: 10px 5px;
    outline: none;
    border: 2px solid #707070;
    opacity: 0.4;
    margin: 10px 0;
  }

@media (min-width:330px) and (max-width: 767px) {
    #menu_bar {
        display: block;
        width: 30px;
        padding: 5px;
        border-radius: 5px;
    }
    .container{
        width: 85%;
    }
    .logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
    }

    .logo a {
        margin: 0;
    }

    .header {
        padding: 12px 0 17.5px 22px;
        align-items: center;
        height: auto;
    }

    .header.response {
        flex-direction: column;
    }

    .nav_li {
        width: 100%;
        padding: 5px 10px;
        margin: 0;
    }

    .navigation {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .navigation.response{
        display: block;
    }
    .navigation_li{
        margin: 0;
        padding: 5px 10px;
    }

    .btn {
        height: 43px;
        width: 100%;
    }

    .footer_inner{
        flex-direction: column;
        padding-bottom: 10px;
    }
    .footer_left {
        width: 182px;
        text-align: left;
    }
    .inputs_inp div{
        width: 80%;    
    }
}

@media (min-width:330px)and (max-width: 1023px){
    .btn{
        height: 50px;
        font-size: 20px;
    }
}



@media (min-width:767px) and (max-width: 1023px){
    .navigation_li{
        margin:0px 30px;
    }
}

